* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --erste-color:DarkGoldenRod;
    --zweite-color:FireBrick;
    --dritte-color: gainsboro;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: auto;
}

h1,h2 {
    color: var(--dritte-color);
    background-color:var(--erste-color);
    border: 2px solid var(--zweite-color);
    text-align: center;
    padding: 1rem;
    width: 100%;
}
main {
    padding-bottom: 4rem;
}

.questions-list,
.profile
 {
    list-style: none;
    padding: 0;
}

.Fragebox,
.profile,
section
{
    border: 2px solid var(--zweite-color);
    border-radius: 6px;
    width: 85%;
    margin: 2rem auto;
    text-align: center;
    position: relative;
    padding: 1rem;
}

.bookmark {
    font-size: 1.8rem;
    position: absolute;
    top: -15%;
    right: 0;
}

.Frage {
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}

.categories-overview {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}

.categories {
    background-color: var(--erste-color);
    border: none;
    border-radius: 6px;
    padding: 2px;
    font-size: 0.8rem;
}
.navigation-menu {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    background-color: var(--erste-color) ;
    border: 2px solid var(--zweite-color);
    padding: 2rem;
    width: 100%;
}

legend{
    background-color: var(--erste-color);
    border: 2px solid var(--zweite-color);
    color: var(--dritte-color);
    display: grid;
}

fieldset{
    display: grid;
    gap: 5px;
    text-align: left;
    padding: 10px;
}

a {
    text-decoration: none;
}

.versteckter-text {
    display: none;
}

.button:hover {
    background-color: lightblue;
} /*das funktioniert nicht. Es soll den button färben, wenn man über ihn hovert*/

/*{} option und 8
} option und 9 
[] option und 5
@ option und L
😘 fn taste
speichern command und s
copy and paste command c und command v*/








